@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;


  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;

    > li {
      border-radius: 2px;
      padding: 10px;
      background: #f4f4f4;
      margin-bottom: 2px;
      border-left: 2px solid #e6e7e8;
      color: #444;

      &:last-of-type {
        margin-bottom: 0;
      }

      > input[type='checkbox'] {
        margin: 0 10px 0 5px;
      }

      .text {
        display: inline-block;
        margin-left: 5px;
        font-weight: 600;
      }

      .label {
        margin-left: 10px;
        font-size: 12px;
      }

      .tools {
        float: right;
        color: #dd4b39;
      }

      > .glyphicon,
      > .ion {
        margin-right: 5px;
        cursor: pointer;
      }

      &:hover {
        .tools {
          display: inline-block;
        }
      }

      &.done {
        color: #999;

        .text {
          text-decoration: line-through;
          font-weight: 500;
        }

        .label {
          background: #d2d6de !important;
        }
      }
    }

    .danger {
      border-left-color: #dd4b39;
    }
    .warning {
      border-left-color: #f39c12;
    }
    .info {
      border-left-color: #00c0ef;
    }
    .success {
      border-left-color: #00a65a;
    }
    .primary {
      border-left-color: #3c8dbc;
    }
    .handle {
      display: inline-block;
      cursor: move;
      margin: 0 5px;
    }
  }
}